target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
pom.xml.*
!.gitkeep

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

# Build outputs
*.jar
*.war
*.ear
*.class

# System files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp
*.swp
.env
*.env