target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
pom.xml.*
!.gitkeep

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

# Build outputs
*.jar
*.war
*.ear
*.class

# System files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp
*.swp
.env
*.env

src/main/resources/archetype-resources
src/main/resources/META-INF
src/main/resources/**/*.cache